/* font */
@font-face {
  font-family: "Noto Sans Korean";
  src: url(./font/NotoSansKR-VariableFont_wght.ttf);
}
/* common */
body {
  font-family: "Noto Sans Korean", sans-serif;
  font-size: 16px;
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-wrap {
  padding: 0 20%;
}

/* header */
header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
header .left-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .menu-box {
  display: flex;
  gap: 20px;
}
header .btn-menu {
  display: block;
  white-space: nowrap;
}
header .function-box {
  display: flex;
  gap: 20px;
}
header .btn-menu {
  display: block;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
}

section.banner .banner-wrap {
  overflow: hidden;
  position: relative;
}
section.banner .banner-box {
  display: flex;
  width: 100%;
}
section.banner .banner-list {
  display: flex;
  width: 100%;
}
section.banner .banner-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #000;
}
section.banner .banner-link:after {
  display: block;
  padding-top: 60%;
  content: "";
}
section.banner .banner-descript-box {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
section.banner .banner-descript-box .banner-descript {
  padding: 10px 20px;
  border: 1px solid #000;
  background: #fff;
}
section.banner .banner-button-box {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
section.banner .banner-button-box .banner-button {
  padding: 10px;
  border: 1px solid #000;
}
section.banner .banner-button-box .banner-button.active {
  background: #000;
  color: #fff;
}

section.skill {
  margin-top: 40px;
}
section.skill .skill-wrap {
  margin-top: 20px;
}
section.skill .skill-box {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 4%;
}
section.skill .skill-list {
  position: relative;
  width: 22%;
}
section.skill .skill-list svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}
section.skill .skill-list .text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
section.skill .skill-list:after {
  display: block;
  padding-top: 100%;
  content: "";
}

section.function {
  margin-top: 40px;
}
section.function .function-wrap {
  margin-top: 20px;
}
section.function .function-box {
  display: flex;
}
section.function .function-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
section.function .function-detail-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

section.project {
  margin-top: 40px;
}
section.project .project-wrap {
  margin-top: 20px;
}
section.project .project-box {
  display: flex;
  gap: 2%;
}
section.project .project-list {
  width: 32%;
}
section.project .project-image-box {
  position: relative;
}
section.project .project-image-box svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}
section.project .project-image-box:after {
  display: block;
  padding-top: 100%;
  content: "";
}/*# sourceMappingURL=style.css.map */