body.active {
    overflow: hidden;
}

.header-wrap {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 100%;
    max-width: 600px;
    padding: 12px;
    background: #FFF;
    line-height: 1;
    transform: translateX(-50%);
}
.header-wrap .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrap .header-container .home-link {
    display: flex;
    align-items: center;
    gap: 4px;
}
.header-wrap .header-container .home-link .link-text {
    font-weight: 700;
}
.header-wrap .header-container .search-button {
    display: none;
}
.header-height {
    max-width: 600px;
    height: 48px;
}

.nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    overflow-x: scroll;
    position: fixed;
    top: 48px;
    left: 50%;
    z-index: 1;
    width: 100%;
    max-width: 600px;
    padding: 8px 12px;
    border-top: 1px solid #0000001a;
    background: #FFF;
    box-sizing: border-box;
    line-height: 1;
    scrollbar-width: none;
    transform: translateX(-50%);
}
.nav-wrap::-webkit-scrollbar {
    display: none;
}
.nav-wrap .menu-button {
    padding: 4px 8px;
    border-radius: 2px;
    background: #0000000d;
}
.nav-wrap .nav-container .nav-list {
    display: flex;
    gap: 12px;
}
.nav-wrap .nav-container .nav-list .nav-item .nav-button {
    padding: 9px 12px;
    border-radius: 8px;
    background: #0000000d;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
}
.nav-wrap .nav-container .nav-list .nav-item .nav-button.active {
    background: #000;
    color: #FFF;
}
.nav-height {
    max-width: 600px;
    height: 50px;
}

.introduction-wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px 12px;
}
.introduction-wrap .introduction-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.introduction-wrap .introduction-container .profile-box {
    display: flex;
    gap: 16px;
}
.introduction-wrap .introduction-container .profile-box .profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 72px;
    height: 72px;
    border: 1px solid #000;;
    border-radius: 100%;
}
.introduction-wrap .introduction-container .profile-box .detail-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.introduction-wrap .introduction-container .profile-box .detail-box .name {
    font-size: 1.5rem;
    font-weight: bold;
}
.introduction-wrap .introduction-container .profile-box .detail-box .personal-history {
    font-size: 0.75rem;
    color: #666;
}
.introduction-wrap .introduction-container .profile-box .detail-box .target {
    font-size: 0.75rem;
    color: #666;
}
.introduction-wrap .introduction-container .contact-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.75rem;
    font-weight: bold;
}
.introduction-wrap .introduction-container .contact-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    border-radius: 14px;
    background: #0000000d;
}

.project-wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.project-wrap .project-container {
    display: none;
}
.project-wrap .project-container.active {
    display: block;
}
.project-wrap .project-container .project-image-link {
    display: flex;
    position: relative;
    padding: 56% 0 0;
    background: #000;
}
.project-wrap .project-container .project-image-link::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000070;
    content: "";
}
.project-wrap .project-container .project-image-link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.project-wrap .project-container .project-detail-box {
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    box-sizing: border-box;
}
.project-wrap .project-container .project-detail-box .skill-icon {
    display: flex;
    flex: 0 0 40px;
    height: 40px;
    border-radius: 100%;
}
.project-wrap .project-container .project-detail-box .detail-link {
    display: flex;
    gap: 4px;
}
.project-wrap .project-container .project-detail-box .detail-link .project-title {
    display: -webkit-box;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.project-wrap .project-container .project-detail-box .detail-link .detail-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.project-wrap .project-container .project-detail-box .detail-link .detail-box span {
    display: flex;
    gap: 4px;
    font-size: 0.75rem;
    color: #666;
}
.project-wrap .project-container .project-detail-box .detail-link .detail-box span:after {
    content: "•";
}
.project-wrap .project-container .project-detail-box .detail-link .detail-box span:last-child:after {
    content: none;
}
.project-wrap .project-container .project-detail-box .more-button {
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.skill-demo-wrap .skill-demo-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 16px;
}
.skill-demo-wrap .skill-demo-container .title-box {
    display: flex;
    align-items: center;
    gap: 16px;
}
.skill-demo-wrap .skill-demo-container .title-box .title-text {
    font-size: 1.125rem;
    font-weight: bold;
}
.skill-demo-wrap .skill-demo-container .skill-demo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.skill-demo-wrap .skill-demo-container .skill-demo-list .skill-demo-item {
    overflow: hidden;
    position: relative;
    width: calc(50% - 4px);
    padding: 74% 0 0;
    border-radius: 8px;
    background: #666;
}
.skill-demo-wrap .skill-demo-container .skill-demo-list .skill-demo-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.skill-demo-wrap .skill-demo-container .skill-demo-list .skill-demo-item .skill-demo-link {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 30%);
    box-sizing: border-box;
}
.skill-demo-wrap .skill-demo-container .skill-demo-list .skill-demo-item .skill-demo-link .link-text {
    display: -webkit-box;
    overflow: hidden;
    font-size: 0.875rem;
    color: #FFF;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.modal-window-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background: #00000099;
    transform: translateX(-50%);
}
.modal-window-overlay.active {
    display: block;
}
.modal-window-overlay .modal-window-wrap {
    display: none;
}
.modal-window-overlay .modal-window-wrap.active {
    display: flex;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] {
    width: 70%;
    height: 100%;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    width: 100%;
    background: #FFF;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .logo-link {
    display: flex;
    flex: 0 0 48px;
    width: 48px;
    padding: 12px;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: scroll;
    scrollbar-width: none;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap::-webkit-scrollbar {
    display: none;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap .menu-list + .menu-list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #0000001a;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap .menu-list .menu-button {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 18px;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap .menu-list .menu-button .button-icon {
    display: flex;
    width: 24px;
    height: 24px;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 48px;
    font-size: 0.75rem;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 8px 24px;
    box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 16px;
    background: #FFF;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .drag-handle-box {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .drag-handle-box .drag-handle {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: #0F0F0F;
    opacity: .15;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list {
    display: flex;
    flex-direction: column;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item {
    padding: 12px;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item button {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item button .icon {
    display: flex;
    width: 24px;
    height: 24px;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item button .button-text {
    display: flex;
    gap: 4px;
}

@media (max-width:359px) {
    .project-wrap .project-container .project-detail-box .detail-link .detail-box span {
        width: 100%;
    }
    .project-wrap .project-container .project-detail-box .detail-link .detail-box span:after {
        content: none;
    }
    .modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .copyright {
        font-size: 0.625rem;
    }
}