/* font */
@font-face {
    font-family: 'Noto Sans Korean';
    src: url(./font/NotoSansKR-VariableFont_wght.ttf);
}

/* common */
body{
    font-family: 'Noto Sans Korean', sans-serif;
    font-size: 16px;
    color: #000;
}
ul, ol{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.page-wrap{
    padding: 0 20%;
}

/* header */
header{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    .left-box{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .menu-box{
        display: flex;
        gap: 20px;
    }
    .btn-menu{
        display: block;
        white-space: nowrap;
    }
    .function-box{
        display: flex;
        gap: 20px;
    }
    .btn-menu{
        display: block;
    }
}

section.skill-wrap{
    .banner-wrap{
        overflow: hidden;
    }
    .banner-box{
        display: flex;
        width: 300%;
    }
    .banner-list{
        display: flex;
        width: 100%;
    }
    .banner-link{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        background-color: #9100FF30;
    }
    .banner-link:after{
        display: block;
        padding-top: 60%;
        content: "";
    }
    .banner-description{
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        span{
            padding: 10px 20px;
            border: 1px solid #000;
            border-radius: 20px;
            background-color: #fff;
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
}
section.skill-wrap .banner-wrap .banner-box .banner-list .banner-link svg{

}