// 색상 변수 설정
$primary-color: #333;
$secondary-color: #fff;
$background-color: #f4f4f4;
$text-color: #333;
$box-shadow-color: rgba(0, 0, 0, 0.1);

// 공통 스타일 변수
$font-stack: "Roboto", sans-serif;
$border-radius: 5px;

// 기본 스타일 (320px 기준)
body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-color;
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
  background: $primary-color;
  color: $secondary-color;
  padding: 10px 16px;
  text-align: center;

  .home-link {
    display: flex;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
  }
}

section {
  padding: 16px;
  margin: 16px;
  background-color: $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 0 10px $box-shadow-color;

  h2 {
    font-size: 1.2em;
    color: $primary-color;
  }

  .project {
    margin-bottom: 16px;
  }

  #contact p {
    font-weight: bold;
    font-size: 1em;
  }
}

#about {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;

    h1 {
        font-size: 2.5em;
        margin: 0.2em 0;
        color: #333;
    }

    h2 {
        font-size: 1.5em;
        margin: 0.2em 0;
        color: #555;
    }

    p {
        font-size: 1em;
        line-height: 1.6;
        color: #666;
        margin: 1em 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
        font-size: 1em;
        margin: 0.5em 0;
        color: #666;
        }
    }
}

// 반응형 스타일
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  header {
    padding: 20px 0;

    h1 {
      font-size: 2em;
    }
  }

  section {
    margin: 20px auto;
    max-width: 750px;

    .project {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1.1em;
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    padding: 30px 0;

    h1 {
      font-size: 2.5em;
    }
  }

  section {
    margin: 30px auto;
    max-width: 960px;

    .project {
      flex-direction: row;

      h3 {
        font-size: 1.8em;
      }

      p {
        font-size: 1.2em;
      }
    }
  }
}
